<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePerson</servlet-name>
        <servlet-class>com.Controller.SavePerson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveLoan</servlet-name>
        <servlet-class>com.Controller.SaveLoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePayment</servlet-name>
        <servlet-class>com.Controller.SavePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Summary</servlet-name>
        <servlet-class>com.Controller.Summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>com.Controller.LoginAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutAdmin</servlet-name>
        <servlet-class>com.Controller.LogoutAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCreditScore</servlet-name>
        <servlet-class>com.Controller.GetCreditScore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendCreditPayment</servlet-name>
        <servlet-class>com.Controller.SendCreditPayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCredit</servlet-name>
        <servlet-class>com.Controller.SaveCredit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePerson</servlet-name>
        <url-pattern>/SavePerson/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveLoan</servlet-name>
        <url-pattern>/SaveLoan/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePayment</servlet-name>
        <url-pattern>/SavePayment/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Summary</servlet-name>
        <url-pattern>/Summary/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutAdmin</servlet-name>
        <url-pattern>/LogoutAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCreditScore</servlet-name>
        <url-pattern>/GetCreditScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendCreditPayment</servlet-name>
        <url-pattern>/SendCreditPayment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCredit</servlet-name>
        <url-pattern>/SaveCredit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
